@page "/bindprops"

Course => @course.CourseName
<br />
Price : @course.Price
<br />
<input type="number" @bind-value="@course.Price" @bind-value:event="oninput" />
<br />
<input type="checkbox" @bind-value="@course.IsActive" checked="@course.IsActive" /> Is Active
<br />
<span>This Course is @(course.IsActive ? "Active" : "In Active")</span>
<br />
<select @bind="defaultSelectvalue">
    @foreach (var drop in dropDowns)
    {
        <option value="@drop.Name">@drop.Name</option>
    }
</select>
<br />
<span>Selected Course is name : @defaultSelectvalue</span>
<br />
<EditDeleteButtonComponent />
@code {
    string defaultSelectvalue = "";

    List<DropDownProps> dropDowns = new()
    {
        new (){Id=1,Name="E-Commerce",Value ="30"},
        new (){Id=2,Name="Microservice",Value ="40"},
        new (){Id=3,Name="Social Media",Value ="50"},
        new (){Id=4,Name="Dependency Injection",Value ="60"},
    };

    CourseTraining course = new()
        {
            Id = 1,
            CourseName = "Blazor e-commerce",
            IsActive = true,
            Price = 20
        };
}

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@